.app-messages{
  position: relative;
}

.app-messages .message-excluded{
  position: absolute;
  top: 0px;
  left: 50%;
  border: 1px solid #FF4929;
  background-color: #FFC7BF;
  border-radius: 20px;

  padding: 5px 20px 5px 20px;

  transform: translateX(-50%);
  z-index: 999;
}

.app-messages .message-excluded span{
  font-weight: 600;
}

.app-messages .message-excluded p{
  font-weight: 300;
  font-style: italic;
  margin: 0px auto 0px auto;
}

.dialog-loading{
  margin: auto;
  width: 60px;
}

.typing-users{
  width: 100%;
  height: 20px;
}
